*.RData
*.Rhistory
*.log
*.jpeg
*.png
*.pdf
*.pptx
STATSGO/
TESTSOIL/
Daymet3_ID/
LPJfiles/guess
ModOut/
Notes/
Output_localruns/
RCout/
CO2/
code-analyze/old/
testout/
data/
*.nc
*.nc4
code-processing/LHC_scripts/OLD/
automate_tests/assim.batch.vignette_pecan.html
automate_tests/ins/
LPJfiles/testnewphen.ins
LPJfiles/weather_from_stations_LPJform/